.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 35px;
}

.header-list {
  color: #fff;
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 16px;
  font-family: "Ping LCG Regular";
  position: relative;
  text-decoration: none;
}

li {
  padding: 0px 15px 0 0;
  text-decoration: none;
}

h4 {
  color: #fff;
  margin: 10px 0px;
}
